/* Toggle from this pen: https://codepen.io/tomhazledine/pen/XWjJMPL */

:root {
  --hue: 223;
  --bg: hsl(var(--hue),10%,100%);
  --fg: hsl(var(--hue),10%,0%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  background-color: var(--bg);
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--fg);
  height: 100vh;
  display: grid;
  font-family: 'Input Mono', monospace;
  /* place-items: center; */
}

::selection {
  background-color: #00bfff;
  color: #000;
}


#clipped-pic {
  clip-path: circle(45%);
  width: 350px;
  height: 350px;
}
